/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2016, 3:36:53 PM
    Author     : Nataraj
*/

/*Mouse Over It will display last 3 po list*/

table#t01{
                display:none;                
                width:auto;
                border: 1px solid #a1a1a1;
                background: #dddddd;
                position:absolute;
                border-radius: 5px;
            }            

